<div class="articles">
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
  <a href class="article-item">
    <div class="article-img">
     <img class="image" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
    </div>
    <div class="article-item-detail">

      <div class="article-author">
       <img class="image-author" src="../../assets/960x614_paris-saint-germain-s-french-forward-07-kylian-mbappe-celebrates-after-scoring-a-goal-during-the-french-l1-football-match-between-olympique-lyonnais-ol-and-paris-saint-germain-psg-at-the-groupama-stadium-in-decines-charpieu-central.webp" alt="" srcset="">
      </div>
      <div class="article-content-detail">
        <h2 class="aticle-title-detail">Title</h2>
        <p class="artcile-date-creation">Data</p>
      </div>
    </div>

  </a>
</div>
